@import "./theme";

body{
  background-color: $background;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.full-height-min {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.is-secondary, .hero.is-dark a.is-secondary {
  color:$secondary !important;
}

.footer .content a{
  color:$primary;
}

.image img{
  max-width:750px;
}

.image-ontop{
  height:0px;
  overflow: visible;
}

.is-cursive{
  font-family:$family-cursive;
}